@import "bootstrap";
@import "../../../node_modules/font-awesome/scss/font-awesome";
@import "lightbox";

///////////////////////
// App Variables
///////////////////////

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$color-status-draft: #999999;
$color-status-sent: #3A87AD;
$color-status-viewed: #F89406;
$color-status-paid-approved: #468847;
$color-status-rejected-overdue: #B94A48;
$color-status-canceled: #333333;

$color-sidebar-bg: $brand-primary;
$color-sidebar-color: $gray-lighter;
$color-sidebar-link: rgba(255, 255, 255, .75);
$color-sidebar-link-hover: rgba(255, 255, 255, 1);

$font-size-root: 16px;

@mixin transition-std($transition) {
  transition: $transition 0.2s ease-out;
}

///////////////////////
// Base styles
///////////////////////

html {
  font-size: $font-size-root;
}

a.ext {
  margin-right: 3px;

  &:after {
    font-family: FontAwesome;
    content: '\f08e';
    font-size: 60%;
    position: relative;
    left: 3px;
    vertical-align: super;
  }
}

pre {
  background: #f9f9f9;
  padding: .5rem;
}

img {
  max-width: 100%;
  height: auto;
}

///////////////////////
// Layout
///////////////////////

body {
  //
}

#app {
  width: 100%;

  @media screen and (min-width: $screen-lg) {
    display: table;
  }
}

.sidebar-visible {
  //overflow: hidden;
}

#sidebar {
  width: 320px;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
  background: $color-sidebar-bg;
  color: $color-sidebar-color;
  left: -320px;
  z-index: $zindex-navbar;
  @include transition-std(left);

  .sidebar-visible & {
    left: 0;
    @include transition-std(left);
  }

  @media screen and (min-width: $screen-lg) {
    width: 25%;
    display: table-cell;
    vertical-align: top;
    left: 0;
  }

  a {
    color: $color-sidebar-link;

    @include hover-focus-active {
      color: $color-sidebar-link-hover;
    }
  }

  .sidebar-top {
    padding: .5rem 1rem;
    border-bottom: 1px solid lighten($color-sidebar-bg, 5%);

    a {
      display: inline-block;
      padding: .5rem 0;
    }
  }
}

#main {
  width: 100%;
  padding-bottom: 4rem;
  position: relative;

  @media screen and (min-width: $screen-lg) {
    display: table-cell;
    vertical-align: top;
    width: 75%;
    padding-bottom: 5rem;
  }
}

#content {
  padding: 1rem;
  max-width: $screen-lg;

  @media screen and (min-width: $screen-lg) {
    padding: 2rem;
  }

  ol, ul {
    li {
      padding: ($list-inline-padding / 2) 0;
    }
  }
}

.top-bar {
  padding: .5rem;
  width: 100%;
  background: $gray-lightest;
  border-bottom: 1px solid darken($gray-lighter, 5%);
  z-index: $zindex-navbar - 10;
  @include clearfix();
}

.sidebar-toggle {
  cursor: pointer;
}

#footer {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  font-size: 0.9rem;
  opacity: 0.8;

  @media screen and (min-width: $screen-lg) {
    left: 2rem;
    right: 2rem;
  }
}

///////////////////////
// Sidebar Menu
///////////////////////

.menu {
  list-style: none;
  padding: 0;
  margin: 0 0 .5rem;

  li {
    width: 100%;

    a {
      display: block;
      width: 100%;
      text-decoration: none;
      padding: .5rem 1rem;

      @include hover-focus-active {
        background-color: lighten($color-sidebar-bg, 2.5%);
      }
    }

    &.divider {
      margin: 0;
      border-bottom: 1px solid lighten($color-sidebar-bg, 7.5%);
    }
  }

  .has-submenu {
    background-color: lighten($color-sidebar-bg, 2.5%);

    .menu-icon {
      padding: 0.3rem 0.5rem;

      &:before {
        content: "\f107";
      }
    }

    &.collapsed {
      background-color: $color-sidebar-bg;

      @include hover-focus-active {
        background-color: lighten($color-sidebar-bg, 2.5%);
      }

      .menu-icon:before {
        content: "\f104";
      }
    }
  }

  .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: lighten($color-sidebar-bg, 2.5%);
    border-bottom: 1px solid lighten($color-sidebar-bg, 7.5%);
    border-left: 10px solid lighten($color-sidebar-bg, 7.5%);

    li {
      padding: 0;

      a {
        font-size: 0.85rem;

        @include hover-focus-active {
          background-color: lighten($color-sidebar-bg, 5%);
        }
      }

      &.divider {
        margin: 0;
      }
    }
  }
}

///////////////////////
// Content
///////////////////////

.status {
  padding: 2px 4px;
  border-radius: 2px;

  &.status-draft {
    background: lighten($color-status-draft, 35%);
    color: $color-status-draft;
  }
  &.status-sent {
    background: lighten($color-status-sent, 40%);
    color: $color-status-sent;
  }
  &.status-viewed,
  &.status-in-progress {
    background: lighten($color-status-viewed, 40%);
    color: $color-status-viewed;
  }
  &.status-paid,
  &.status-approved,
  &.status-completed {
    background: lighten($color-status-paid-approved, 50%);
    color: $color-status-paid-approved;
  }
  &.status-rejected,
  &.status-overdue {
    background: lighten($color-status-rejected-overdue, 40%);
    color: $color-status-rejected-overdue;
  }
  &.status-canceled {
    background: lighten($color-status-canceled, 60%);
    color: $color-status-canceled;
  }
}

.headline-link {
  font-size: 0.9rem;
  vertical-align: middle;
}

.article-pagination {
  margin-top: 2rem;
}

.fa-credit-invoice {
  &:before {
    content: '-';
  }
  &:after {
    font-family: FontAwesome;
    content: '\f155';
  }
}

.fa-read-only {
  @extend .fa-ban;
}

.changelog {
  .card {
    margin-bottom: $spacer;
  }

  .card-header {
    cursor: pointer;

    .released {
      float: right;
      opacity: 0.6;
    }
  }
}

///////////////////////
// Misc
///////////////////////

.fa-fw {
  width: 1rem;
  text-align: center;
}

.fa-margin-right {
  margin-right: .5rem;
}

.fa-margin-left {
  margin-left: .5rem;
}

hr.hr-xl {
  margin: 2rem 0;
}

.alert-title,
.page-title {
  margin-top: 0;
}

.cursor-pointer {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: $gray-lightest;
  border-left: 1px solid $gray-lighter;
}

::-webkit-scrollbar-thumb {
  background-color: darken($gray-lighter, 10%);
}
