/* =============================================================================
   InvoicePlane Wiki
   Sass Stylesheet
   v1.0
   ========================================================================== */

/* =============================================================================
   Import Bootstrap and other assets
   ========================================================================== */

// Bootstrap
@import "bootstrap/bootstrap";

// Lightbox & Syntax Highlight
@import "lightbox";

// Font: Font-Awesome
@import "font-awesome/font-awesome";

// Import Fonts
@import "source-sans-pro";
@import "source-code-pro";


/* =============================================================================
   Variables
   ========================================================================== */

$dfs: 17px;
$dff: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$dlh: $dfs * 1.6;
$dbr: 6px;

$pagewidth: 1200px;

$c_bg: #fff;
$c_bg_d: darken($c_bg, 5%);
$c_bg_d2: darken($c_bg, 10%);

$c_link: #2c8edd;
$c_link_l: #429ae1;
$c_link_d: #2181ce;
$c_link_l2: #9ac9ef;

$c_draft: #999999;
$c_sent: #3A87AD;
$c_viewed: #F89406;
$c_paid: #468847;
$c_approved: #468847;
$c_overdue: #B94A48;
$c_rejected: #B94A48;
$c_canceled: #333333;

$c_txt: #666;
$c_txt_l: #888;
$c_txt_l2: #aaa;
$c_txt_d: #444;
$c_txt_d2: #222;


/* =============================================================================
   Transitions
   ========================================================================== */

$animspeed: 0.2s;

@mixin transition-bg {
    transition: background $animspeed;
    -moz-transition: background $animspeed;
    -webkit-transition: background $animspeed;
    -o-transition: background $animspeed;
}
@mixin transition-c {
    transition: color $animspeed;
    -moz-transition: color $animspeed;
    -webkit-transition: color $animspeed;
    -o-transition: color $animspeed;
}
@mixin transition-cbg {
    transition: color $animspeed, background $animspeed;
    -moz-transition: color $animspeed, background $animspeed;
    -webkit-transition: color $animspeed, background $animspeed;
    -o-transition: color $animspeed, background $animspeed;
}


/* =============================================================================
   Base Styles
   ========================================================================== */

html {
    overflow-y: scroll;
    background: $c_bg_d;
    -webkit-font-smoothing: subpixel-antialiased;
}

body {
    font-size: $dfs;
    font-family: $dff;
    line-height: $dlh;
    color: $c_txt;
    background: $c_bg;
}

img {
    max-width: 100%;
}

code, pre {
    color: $c_txt;
    background-color: lighten($c_txt_l, 40%);
    &.blue {
        color: $c_sent;
        background-color: lighten($c_sent, 45%);
    }
    &.green {
        color: $c_paid;
        background-color: lighten($c_paid, 45%);
    }
    &.orange {
        color: $c_viewed;
        background-color: lighten($c_viewed, 40%);
    }
    &.red {
        color: $c_overdue;
        background-color: lighten($c_overdue, 40%);
    }
}

a {
    color: $c_link;
    &:hover {
        color: $c_link_d;
        text-decoration: none;
    }
    &.ext {
        margin-right: 3px;
        &:after {
            font-family: FontAwesome;
            content: '\0020';
            font-size: 60%;
            position: relative;
            left: 3px;
            vertical-align : super;
        }
        &:hover:after {
            content: '\f08e';
        }
    }
}

h1,h2,h3,h4,h5 {
    color: $c_txt;
    line-height: 1.5;
}
h1 {
    font-size: $dfs * 2.5;
    margin-top: $dfs * 2.5 - 10;
}
h2 {
    font-size: $dfs * 2.25;
    margin-top: $dfs * 2.25 - 10;
}
h3 {
    font-size: $dfs * 2;
    margin-top: $dfs * 2 - 10;
}
h4 {
    font-size: $dfs * 1.75;
    margin-top: $dfs * 1.75 - 10;
}
h5 {
    font-size: $dfs * 1.5;
    margin-top: $dfs * 1.5 - 10;
}

hr {
    border-top: 2px solid $c_bg_d;
    &.hr-xs {
        margin: 15px 0;
        border-top: 1px solid $c_bg_d;
    }
    &.hr-xl {
        margin: 30px 0;
        border-top: 3px solid $c_bg_d;
    }
}

pre {
    border: none;
}

code, pre, .mono {
    font-family: 'Source Code Pro', Menlo, Monaco, monospace;
}


/* =============================================================================
   Layout
   ========================================================================== */

.container {
    max-width: $pagewidth;
}

.inner {
    @extend .container;
    padding-top: 40px;
    padding-bottom: 40px;
}

.navbar {
    background: $c_bg_d;
    border-bottom: 0;
    margin-bottom: 0;
}

.navbar-nav  {
    > li > a {
        padding-top: 28px;
        padding-bottom: 27px;
    }
}

.navbar-nav>li>.dropdown-menu {
    border-color: $c_bg_d2;
    border-top: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background: $c_bg_d2;
}

#logo {
    width: 150px;
    height: 75px;
    background: url("../img/logo_150x75.png") center center no-repeat;
    background-size: cover;
    margin-right: 20px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
    #logo {
        background: url("../img/logo_400x200.png") center center no-repeat;
        background-size: cover;
    }
}

#wrapper {
    background: $c_bg;
    min-height: 200px;
}
#row-wrapper {
    overflow: hidden;
}
#content {
    padding: 25px;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    p {
        text-align: justify;
    }
    pre {
        margin: 20px 0 20px;
    }
}

#sidebar {
    background: $c_bg_d;
    padding: 25px;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    a {
        color: $c_txt_l;
        &:hover {
            color: $c_txt;
        }
    }
    hr {
        border-top-color: $c_bg_d2;
    }
    ul {
        list-style: none;
        padding-left: 20px;
        font-size: $dfs - 1;
        li {
            position: relative;
            &.active:before {
                color: lighten($c_txt_l, 5%);
                position:absolute;
                font-family: FontAwesome;
                top:0;
                left:-15px;
                content: "\f0da";
            }
        }
    }
}

.changelog {
    font-size: $dfs - 2;
    .panel-heading {
        font-weight: bold;
        cursor: pointer;
    }
    .released {
        float: right;
        color: $c_txt_l;
        font-weight: normal;
    }
}

.article-pagination {
    margin-top: 40px;
    font-size: $dfs - 1;
}

#footerwrapper {
    background: $c_bg_d;
    color: #aaa;
    font-size: $dfs - 1;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;

    a {
        color: #888;
        &:hover {
            color: #666;
        }
    }
    .nav {
        margin-bottom: 20px;
    }
}

/* =============================================================================
   Additional Styles
   ========================================================================== */

.fa-credit-invoice {
    &:before {
        content: '-';
    }
    &:after {
        font-family: FontAwesome;
        content: '\f155';
    }
}

.fa-read-only {
    @extend .fa-ban;
}

.headline-link .fa {
    font-size: 60%;
    color: $c_txt_l2;
    vertical-align: middle;
    &:hover {
        color: $c_link_l;
    }
}

.box {
    @extend .panel;
    @extend .panel-default;
    @extend .panel-body;
}
.box-xl {
    padding: 30px 20px;
}

.btn-xl {
    @extend .btn-lg;
    padding: $dfs ($dfs * 1.5);
    font-size: $dfs + 6;
}

.alert {
    border: none;
}

.alert-title {
    margin-top: 0;
}

.page-title {
    margin-top: 0;
}

.hide {
    display: none;
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
    border-top-right-radius: $dbr - 2 !important;
}

.media-object-left {
    @extend .media-object;
    @extend .pull-left;
    margin-right: 30px;
}

.fa-margin-right {
    margin-right: 8px;
}
.fa-margin-left {
    margin-left: 8px;
}

.status {
    font-size: 90%;
    padding: 3px 6px;
    border-radius: 2px;
}
.status-draft {
    color: $c_draft;
    background-color: lighten($c_draft, 35%);
}
.status-sent {
    color: $c_sent;
    background-color: lighten($c_sent, 45%);
}
.status-viewed {
    color: $c_viewed;
    background-color: lighten($c_viewed, 40%);
}
.status-paid,
.status-approved {
    color: $c_paid;
    background-color: lighten($c_paid, 45%);
}
.status-overdue,
.status-rejected {
    color: $c_overdue;
    background-color: lighten($c_overdue, 40%);
}
.status-canceled {
    color: $c_canceled;
    background-color: lighten($c_canceled, 65%);
}

.tooltip {
    .tooltip-inner {
        background: $c_link;
    }
    &.bottom .tooltip-arrow {
        border-bottom-color: $c_link;
    }
}

/* =============================================================================
   Responsive Media Queries
   ========================================================================== */

// Styles for large devices (< lg)
@media (min-width: 992px) {

}

// Styles for medium devices (sm < md)
@media (max-width: 991px) {

}

// Styles for  small devices (xs < sm)
@media (max-width: 767px) {

    #logo { display: none; }

    .navbar-nav > li > a {

        padding-top: 10px;
        padding-bottom: 10px;

    }

    li.dropdown.open {
        border-bottom: 1px solid #eee !important;
    }

}

// Styles for very small devices (< xs)
@media (max-width: 479px) {

}
